*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
*:focus{outline: none;}
body{
    background-image: linear-gradient(120deg,#f6d365,#f88e4d);
    color: white;
    font-family: 'poppins',sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;

}
form button{
    color: #f88e4d;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
form input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
form button:hover{
    background:#f88e4d;
    color: white;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;

}
.todo{
    background: white;
    margin: 0.5rem;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    
    
}
.todo li{
    flex: 1;
    padding: 0 0.5rem;
}
.trash-btn, .completed-btn{
    background: #f88e4d;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.completed-btn{
    background-color: #1ab827;
}
.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity:0;

}
/* select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
} */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: #f88e4d;
    width: 10rem;
    cursor: pointer;
    padding: 1.14rem;
    border: none;
    border-radius: 10px;
}
/* .select:after{
    content: "T";
    position: absolute;
    background: #f88e4d;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    font-style: normal;
} */